.card{
    padding: 0 34px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    
    height: 100%;
}

.card-informations{
    display: flex;
    gap: 2px;
    align-items: center;
}

.card-informations--photo{
    width: 176px;
}

.card-information--rating{
    color: #222222;
}

.card-information--rating-info{
    color: #918E9B;
}

.card-title{
    color: #222222;
}

.card-value{
    font-weight: 600;
    color: #222222;
}